<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="vocabulary">
    <%= f.label :vocabulary %><br />
    <%= f.select :vocabulary, [['English','1'],['Russian','2'],['Ukrainian','3']], :include_blank => "Please select..."  %>

  </div>
  <div class="word">
    <%= f.label :word %><br />
    <%= f.text_field :word %>
    <%#= button_to 'Find' %>
  </div>
  <div class="translate">
    <%= f.label :translate %><br />
    <%= f.text_field :translate %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
