<!DOCTYPE html>
<html>
<head>
  <title>MyProjectEnglish</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
    <div class="header">
        <%= image_tag("logo.JPG") %>
    </div>
    <div class="sidebar">
          <ul>
            <li> <%= link_to 'home', index_path %></li>
            <li> <%= link_to 'vocabulary russian', vocabulary_russian_index_path %></li>
            <li> <%= link_to 'vocabulary english', vocabulary_english_index_path %></li>
            <li> <%= link_to 'exercises', exercise_index_path %></li>
            <li> <%= link_to 'dictionary', new_word_path %></li>
          </ul>
    </div>

    <div class="main">
        <%= yield %>
    </div>




</body>
</html>
